@charset "UTF-8";

body{
    margin: 0;
    margin-top: 0;
    font: normal 16px 'arial', sans-serif;
    background-color: #BCBAFB;
}

p{
    text-indent: 20px;
}

header{
    background-image: linear-gradient(#736FFA, #38367A 80%);
    margin: auto;
    height: 12em;
    width: 100%;
}

header > h1{
    padding-top: 40px;
    margin: auto;
    color: white;
    text-align: center;
    font-size: 25px;
    text-shadow: 1px 1px 4px#00000091; 
    
}

header > h2{
    color: white;
    text-align: center;
    font-size: 14px; 
    font-weight: normal; 
    padding: 30px;
    width: 70%;
    margin: auto;
    text-shadow: 1px 1px 4px#00000091;

}

a{
    background-color: #BCBAFB;
    padding: 2px;
    color: #38367A;
    font-weight: bold;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
    color: #736FFA;
}

.menu-site{
    margin: 10px;
    padding: 2px;
    font-size: 12px;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px 4px#00000091;
    background-color: #38367A;
    
}

.menu-site:hover{
    background-color: #BCBAFB;
    color: black;
    border-radius: 5px;
    padding: 5px;
    text-decoration: none;
}

nav > a{
    text-decoration: none;
}

strong{
    color: #38367A;
}

main{
    text-align: justify;
    box-shadow: 1px 1px 8px #00000081;
    background-color: white;
    padding: 20px;
    font-size: 14px;
    display: flex;
}

@media (max-width:400px){
    main{
        width:100%;
        margin: auto;
    }
}

@media (min-width:1000px){
    main{
        margin:auto;
        width: 65%;
    }
}


article > h1{
    text-align: left;
    font-size: 20px;
    font-family: 'idroid', 'sans-serif';
    color: #38367A;
}

article > h2{
    font-size: 16px;
    background-image: linear-gradient(to right, #746ffa9a, white);
    padding: 2px;
    font-family: 'idroid', 'sans-serif';
    color: #38367A;
}
picture{
    display: flex;
    justify-content: center;
    align-items: center;
}

.mascote{
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-container{
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}

.video-container iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

div > iframe{

    background-color: #38367A;

    
}

section{
    border-radius: 10px;
    background-color: #BCBAFB;
    margin-top: 20px;
    font-size: 12px;

}

section > p{
    padding-right: 20px;
    padding-left: 20px;
}

section #ultimo-p{
    padding-bottom: 20px;

}

section > h1{
    background-color: #736FFA;
    padding: 10px;
    margin: 0;
    border-radius: 10px 10px 0px 0px;
}

section > div{
    text-align: center;
}



ul{
    list-style-type: none;
    display: inline-block;
    text-align: left;
    padding-left: 15px;
}

li > span{
    text-decoration: underline;
}

#lista-esquerda{
    margin: 5px;
}


footer{
    background-color: #38367A;
    color: #BCBAFB;
    padding: 2px;
    font-size: 12px;
    text-align: center;
}

footer > p{
    margin: 6px;
}

footer > p > strong{
    color: #BCBAFB;
}
